.form-containerr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.form-containerr > .order-containerr > form > input {
  display: block;
  width: 50vw;
  margin: 10px;
  padding: 10px 20px;
}
.form-containerr > .order-containerr {
  box-shadow: 0px 10px 50px 10px #ddd;
  border-radius: 1rem;
  padding: 150px;
}
@media only screen and (max-width: 660px) {
  .order-containerr {
    margin: 0 auto;
    width: 100%;
  }
}
