/* anchore tag design  */
.navBar__container a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  margin: 10px;
}
/* anchore hover effect  */
a:hover {
  color: #ddd;
  transition: all 0.3s ease-in;
}
