/* intro container  */
.intro-container {
  height: 80vh;
  background-image: url("https://i.ibb.co/N7FRjNr/blog-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* intro section design  */
.intro-container > div {
  display: flex;
  justify-content: center;
  align-items: center !important;
  height: 80vh;
  color: white;
  font-weight: 700;
  text-shadow: 0px 10px 10px 10px #ddd;

  backdrop-filter: brightness(60%);
}
